body {
    margin: 1rem 0;
    
  }
  
  #output {
 background-color: 	rgb(72,72,72);
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border: 2px solid #c0c0c0;
    border-radius: 6px;
    font-size: 100%;
    line-height: 3rem;
   

  }
  
  #length {
    border: 2px solid #c0c0c0;
  }
  
  #btn-generate {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
   
  }

  